<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>935744301812-plh24meb0afhug17l30irtja4e5qmmuc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.935744301812-plh24meb0afhug17l30irtja4e5qmmuc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>935744301812-4vpcdgv40dvcgifibm3m8c0lnvkdlkko.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDz-s9-OIauCyxSucTAlTy-osYmpriHcI</string>
	<key>GCM_SENDER_ID</key>
	<string>935744301812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.electoria.gamehub</string>
	<key>PROJECT_ID</key>
	<string>gamehub-14132</string>
	<key>STORAGE_BUCKET</key>
	<string>gamehub-14132.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:935744301812:ios:46cc909f65c4bdcc2d4ca1</string>
</dict>
</plist>